body {
	font-family: 'Montserrat', sans-serif;
	background-color: #4A4A4C;
	font-weight: 500;
	color: white;
}

.mhes-second-bg {
	background-color: #1A1A1A;
}

.mhes-third-bg {
	background-color: #666666;
}

.mhes-button {
	background-color: #666666;
	border-color: #1A1A1A;
}

.breadcrumb.mhes-third-bg > .active,
.breadcrumb.mhes-third-bg > .active::before {
	color: #cccccc;
}

main h1 {
	padding-top: 1rem;
}

main .content {
	font-size: larger;
}

main .content a,
.like-comment-contact a,
.breadcrumb.mhes-third-bg a {
	color: #ff8332;
	font-weight: 300;
}

main .content a:hover,
.fa:hover,
.like-comment-contact a:hover,
.breadcrumb.mhes-third-bg a:hover {
	color: white;
}

main .content a:active,
.fa:active,
.like-comment-contact a:active,
.breadcrumb.mhes-third-bg a:active {
	color: red;
}

header img {
	width: 100%;
}

footer {
	font-size: smaller;
	color: #ff8332;
}

footer .fa {
	font-size: 30px;
	color: #ff8332;
}

:focus {
	  outline: 3px solid #0e0d0d;
	  outline-offset: 1px;
}
