body {
	font-family: 'Barlow Regular', 'Barlow', sans-serif;
}

main .content {
	font-size: larger;
}

header img {
	width: 100%;
}

footer {
	font-size: smaller;
	color: #444444;
}

.socials img {
	width: 24px;
	height: auto;
	margin-right: 20px;
}